/* /style.css */

/* Custom styles for My Quiz */
body {
    background-color: #f4f4f4;
  }
  
  #quiz-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #timer {
    text-align: center;
    font-size: 1.25rem;
  }
  